<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="SwaggerUI"
  />
  <title>SwaggerUI</title>
  <link rel="stylesheet" href="/_static/swagger-ui.css" />
  <script src="/_static/iframeResizer.contentWindow.min.js"></script>
  <style>
  body {
    margin: 0
  }
  body::before {
    content: "";
    display: table;
  }
  </style>
</head>
<body>
<div id="swagger-ui"></div>
<script src="/_static/swagger-ui-bundle.js"></script>
<script>
  window.onload = () => {
    window.ui = SwaggerUIBundle({
      spec: {{spec | tojson}},
      dom_id: '#swagger-ui',
      {% if 'docexpansion' in options %}
      docExpansion: '{{options['docexpansion']}}',
      {% endif %}
      {% if 'defaultmodelrendering' in options %}
      defaultModelRendering: '{{options['defaultmodelrendering']}}',
      {% endif %}
      defaultModelExpandDepth: 2,
      requestInterceptor: function (request) {
          return request;
      },
      responseInterceptor: function (response) {
          response.text = "该文档示例并不具备发起真实请求的能力，请自行拷贝代码进行测试。";
          return response;
      }
    });
  };
</script>
</body>
</html>